<% provide(:title, "About") %>

<h1>About</h1>
<p>
  This links to the Cal Swim Team  
  
  <a href="http://en.wikipedia.org/wiki/California_Golden_Bears#Swimming_and_diving_1/">
  wiki page. </a> 
</p>

