<% provide(:title, "Home") %>

<div class = "center jumbotron">

  <h1>Welcome to Cal Men's Swimming and Diving</h1>
  
  <h2>
    This is the homepage for the Cal Men's Swimming
    <a href="http://www.calbears.com/SportSelect.dbml?
    DB_LANG=C&DB_OEM_ID=30100&SPID=126526&SPSID=749487">website.</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("mens_swim.png", alt: "Cal logo"),
            'http://calbears.com/' %>