<footer class="footer">
  <small>
    A website for the Cal Men's Swim team </a>
    by <a href="http://jonathan-xu.github.io/">Jonathan Xu</a>
    developed with the help of the Michael Hartl Rails guide.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>

<!-- Need to fix the foramtting for the copyright violation of the Cal logo -->


<!--   </nav>
  <small>
    Cal logo is copyright of the University of California, Berkeley Athletics.
  <small> -->


</footer>